<div class="wrapper-generic-card">
    <div class="container--card">
        <h3>Thank You for Signing Up!</h3>
        <p>We sent you an email. Please verify and activate your account.</p>
    </div>
</div>




