@model app.service.Identity.Commands.Login.LoginCommand
@{
    ViewData["Title"] = "Login";
}


<div class="container--login">
    <div class="login--svg">
        <img src="~/img/Log-In Page.png" alt="Alternate Text" />
    </div>
    <div class="login--form">
        
        <h1 class="login--form--header">Login to Your Account</h1>

        @if (Model != null)
        {
            <div class="login-alert--error">
            @if (Model.ErrorMessage == "Failed" || Model.ErrorMessage == "Empty")
            {
                <p>Incorrect Username or Password</p>
            }else if (Model.ErrorMessage == "NotFound")
            {
                <p>Account Not Found</p>
            }
            </div>
        }
        <form asp-controller="Authenticate" asp-action="Login" method="post">
            <input asp-for="Username" type="text" name="username" placeholder="Username" required/>
            <input asp-for="Password" type="password" name="password" minlength="6" placeholder="Password" required/>
            <button type="submit" class="btn-primary--rectangle">Login</button>
        </form>
    </div>
</div>