@model app.ui.Areas.Identity.Service.Command.PasswordResetConfirmation.PasswordResetConfirmationCommand

<div class="wrapper-generic-card">
    <div class="container--card">
        <h3>Forgot Your Password?</h3>
        <p>Enter your password and we'll send a link to reset your password</p>
        <form asp-area="Identity" asp-controller="Authenticate" asp-action="PasswordResetConfirmation" class="form-reset">
            <input type="password" name="newPassword" placeholder="Password" class="reset-email"/>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" class="reset-email" />
            <input type="text" name="userId" value="@Model.userId" hidden/>
            <input type="submit" class="btn-primary--rectangle"/>
        </form>
    </div>
</div>
