<div class="wrapper-generic-card">
    <div class="container--card">
        <h3>Recover your Account</h3>
        <p>We sent you an email. Please verify identification before resetting password.</p>
    </div>
</div>




