<div class="wrapper-generic-card">
    <div class="container--card">
        <h3>Congratulations! You have successfully activated your account.</h3>
        <p>Thank you for joining us, Log-in to start enjoying our services.</p>
    </div>
</div>


