<div class="wrapper-generic-card">
    <div class="container--emailCon">
        <h3>Congratulations! You have successfully activated your account.</h3>
        <p>Thank you for joining us, Log-in to start enjoying our services.</p>
        <div class="confetti" id="confetti"></div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js" integrity="sha512-BB7rb8ZBAxtdJdB7nwDijJH9NC+648xSzviK9Itm+5APTtdpgKz1+82bDl4znz/FBhd0R7pJ/gQtomnMpZYzRw==" crossorigin="anonymous"></script>

