<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app.ui</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    @using Microsoft.AspNetCore.Identity;
    @using System.Security.Claims;
    @using app.ui.Areas.Identity.Models 

    @inject UserManager<AppUser> _userManager
    <header class="wrapper">
        <nav class="navbar">
            <div class="left">
                <div class="logo"><a asp-controller="Home" asp-action="Login">
                    MRT Fare Matrix
                </a></div>
            </div>
            <div class="right">
                <ul class="nav-items home--mob">
                    <li>
                        <a href="#">
                            <img class="nav-icon" src="~/img/icon/Home Icon-White.png" alt="Alternate Text" />
                            <span>Home</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav-items">
                    <li>
                        <a href="#">
                            <img class="nav-icon" src="~/img/icon/Fare Matrix Icon-White.png" alt="Alternate Text" />
                            <span>Fare</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav-items">
                    <li>
                        <a href="#">
                            <img class="nav-icon" src="~/img/icon/FAQ Icon-White.png" alt="Alternate Text" />
                            <span>FAQs</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav-items">
                    <li>
                        <a href="#">
                            <img class="nav-icon" src="~/img/icon/Reload Icon-White.png" alt="Alternate Text" />
                            <span>Reload</span>
                        </a>
                    </li>
                </ul>
                <ul class="user-profile">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.HasClaim("MRT.AccessLevel", "Admin"))
                            {
                                <a href="#">
                                    <p class="user-profile--name">John Doe<br /><span class="user-profile--role">Admin</span></p>
                                    <img src="~/img/icon/Profile Icon (Client)-White.png" alt="Profile_image" class="user-profile--pic">
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-user"></i>
                                                Profile
                                            </a>
                                        </li>
                                        <li class="mob-nav--link">
                                            <a href="#">
                                                <i class="fas fa-sliders-h"></i>
                                                Fare
                                            </a>
                                        </li>
                                        <li class="mob-nav--link">
                                            <a href="#">
                                                <i class="fas fa-sliders-h"></i>
                                                FAQs
                                            </a>
                                        </li>
                                        <li class="mob-nav--link">
                                            <a href="#">
                                                <i class="fas fa-sliders-h"></i>
                                                Reload
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="Identity" asp-controller="Authenticate" asp-action="SignOut">
                                                <i class="fas fa-sign-out-alt"></i>
                                                Signout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }

                        }
                        else
                        {
                            if (ViewContext.RouteData.Values["action"].ToString() == "LogIn")
                            {
                                <a asp-area="Identity" asp-controller="Authenticate" asp-action="Register">Register</a>
                            }
                            else
                            {
                                <a asp-area="Identity" asp-controller="Authenticate" asp-action="Login">Log-in</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="brand--mob"><h1>MRT Fare Matrix</h1></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - app.ui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
