@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper--body">
    <div class="section-hero">
        <div class="section-hero--svg">
            <img class="mobile--hidden svg--desktop" src="~/img/Client Portal.png" alt="Train Image" />
            <img class="desktop--hidden svg--mobile" src="~/img/Fare Matrix Card-beep™.png" alt="Card Image" />
        </div>
        <div class="section-hero--cta">
            <h3>beep&trade; card can make your journey much easier</h3>
            <a class="btn-primary" href="#">Add Card</a>
        </div>
    </div>
    <hr />
    <div class="section-quickAction mobile--hidden">
        <div class="section-quickAction--card">
            <h3>Check your profile information</h3>
            <a class="btn-primary" href="#">Profile</a>
        </div>
        <div class="section-quickAction--card">
            <h3>Add balance to your beep&trade; card</h3>
            <a class="btn-primary" href="#">Reload</a>
        </div>
        <div class="section-quickAction--card">
            <h3>Report a Stolen or Missing Card</h3>
            <a class="btn-primary" href="#">Report</a>
        </div>
    </div>
    <hr class="mobile--hidden"/>
    <div class="section-content">
        <div class="section-content--left">
            <p class="article--title">
                Reload Beep Card Using GCash, Credit/Debit Card, Bank Transfer:
            </p>
            <p>Step 1: Visit Reload Page at the top, which is next to the fare page (<a href="#">go to reload page</a>).</p>
            <p>Step 2: Key in your 16-digit card number found on the back of your Beep Card.</p>
            <p>Step 3: Select a payment method of your preference.</p>
            <p>Step 4: Key in the load amount, then tap "Pay Now".</p>
            <p>Step 5: Visit a Beep e-load station and insert your card to complete the process.</p>
        </div>
        <div class="section-content--right">
            <p class="article--title">
                Automated Fare Collection System (AFCS)
            </p>
            <p>The contact-less stored value cards are interoperable across all beep&trade; fare collection terminals.This means that passengers will only need one card for all modes of transport that accept the beep&trade; card, be it Metro Manila's light rail system. We support multiple methods of fare collection from contact-less stored value card. The information of stored value card can be seen on this page(<a href="#">go to fare page.</a>).</p>

        </div>
    </div>
</div>


