<div class="brand--mob"><h1>MRT Fare Matrix</h1></div>
@{
    ViewData["Title"] = "Home Page";
}

<div class="brand--mob"><h1>MRT Fare Matrix</h1></div>
<div class="wrapper--body">
    <h1 class="admin-header">Welcome Admin!</h1>
    <hr />
    <div class="section-quickAction mobile--hidden">
        <div class="section-quickAction--card">
            <h3>Check your profile information</h3>
            <a class="btn-primary" href="#">Base Fare</a>
        </div>
        <div class="section-quickAction--card">
            <h3>Add balance to your beep&trade; card</h3>
            <a class="btn-primary" href="#">Users</a>
        </div>
        <div class="section-quickAction--card">
            <h3>Report a Stolen or Missing Card</h3>
            <a class="btn-primary" href="#">Request Card</a>
        </div>
    </div>
    <hr class="mobile--hidden" />
</div>