@model app.ui.Components.ObjectBinding.FooterObject

<footer>
    @if (!Model.IsAdmin)
    {
        <div class="footer--main">
            <div class="quickLinks">
                <div class="quickLinks--title">
                    <p>QUICK LINKS<p>
                </div>
                <div class="quickLinks--links">
                    <div class="quickLinks--links--left">
                        <a href="#">Riding Guide</a>
                        <a href="#">Fare</a>
                        <a href="#">Fare Ticket</a>
                    </div>
                    <div class="quickLinks--links--right">
                        <a href="#">Reload</a>
                        <a href="#">About Us</a>
                        <a href="#">FAQs</a>
                    </div>
                </div>
                <hr />
            </div>
            <div class="contactUs">
                <p class="contactUs--title">CONTACT US</p>
                <p>@Model.Email</p>
                <p>@Model.ContactNumber</p>
            </div>
        </div>
    }
    <div class="footer--copyright">
        &copy; Copyright 2021 - MRT Fare Matrix - All rights reserved
    </div>
</footer>
