<div class="wrapper-fare">
    <div class="fare-title">
        <p>Fare Matrix Guide</p>
        <p class="mobile--hidden">Ticket Price</p>
    </div>
    <div class="fare-content">
        <div class="fare-content--stations">
            <form action="/" method="post">
                <label for="from">Leaving From:</label>
                <select id="from" name="from">
                    <option value="1">Station 1</option>
                    <option value="2">Station 2</option>
                    <option value="3">Station 3</option>
                </select>
                <label for="to">Going To:</label>
                <select id="to" name="to">
                    <option value="1">Station 1</option>
                    <option value="2">Station 2</option>
                    <option value="3">Station 3</option>
                </select>
            </form>
        </div>
        <div class="fare-content--payment">
            <span>Araneta Center Cubao</span>
            <span>to</span>
            <span>Ayala</span>
            <span>P20.00</span>
        </div>
    </div>
</div>
