@{
    ViewData["Title"] = "Login";
}


<form asp-action="Login" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" minlength ="6"/>
    </div>
    <button type="submit" class="btn-primary--rectangle--long">Login</button>
</form>